*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

:root {
    --clr-primary-100: hsl(158, 36%, 37%);
    --clr-primary-200: hsl(30, 38%, 92%);

    --clr-neutral-100: hsl(212, 21%, 14%);
    --clr-neutral-200: hsl(228, 12%, 48%);
    --clr-neutral-300: hsl(0, 0%, 100%);

    --fw-medium: 500;
    --fw-bold: 700; 


    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

body {
    font-family: 'Montserrat';
    background-color: var(--clr-primary-200);
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}

.product-card {
    --border-radius: .8rem;

    max-width:  37rem;
    display: grid;
}

img {
    filter: brightness(92%);
}

.product-info {
    display: grid;
    align-content: start;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--clr-neutral-300);
}

.sub-title, .product-description {
    color: var(--clr-neutral-200);
}

.sub-title {
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    letter-spacing: .25rem;
}

.title {
    line-height: 1;
    font-size: var(--fs-800);
    font-family: 'Fraunces';
    color: var(--clr-neutral-100);
}

.product-description {
    font-size: var(--fs-200);
    font-weight: var(--fw-medium);
    line-height: 1.5;
}

.product-prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.current-price {
    font-family: 'Fraunces';
    font-size: var(--fs-800);
    color: var(--clr-primary-100);
    font-weight: var(--fw-bold);
}

.old-price {
    color: var(--clr-neutral-200);
    text-decoration: line-through;
    font-size: var(--fs-100);
}

.button {
    cursor: pointer;
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-300);
    background-color: var(--clr-primary-100);
    border: 0;
    border-radius: .5rem;
    width: 100%;
    height: 3rem;
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: hsl(158, 36%, 20%)
}

@media (min-width: 600px) {
    .product-card {
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        overflow: hidden;
    }
    
}